html,body{
    min-height: 100%;
    max-width: 100%;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}
table {
    position: relative;
    display:inline-table;
    border-radius: 10px 10px;
    height: 300px;
    overflow-y: scroll;
}

#resdiv{
    height: 100vh;
}

#savebtn
{
    position: relative;
    border-radius: 10px;
    border: none;
    top: 2px;
    background-color: rgba(114, 114, 114, 0.61);
    backdrop-filter: blur(5px);
}
#input
{
    border-radius: 20px;
    border: none;
    background-color: rgba(244, 236, 236, 0.61);
    backdrop-filter: blur(5px);
}
#stafform
{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    position: relative;
    top: 25%;
}
#manaction
{
    background:rgb(157, 178, 216);
    width:250px;
    height:250px;
    text-align:center;
    margin:10px;
    border-radius:15px;
}

#manli
{
    list-style-type:none;
    position: relative;
    top:35%;
}
